.todoFormContainer {
    margin-bottom: 30px;
}

.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoFormContainer input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
}

.todoFormContainer button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(220, 220, 99);
}

.todoFormContainer button:hover {
    background-color: rgb(196, 196, 60);
}

.todoFormContainer input,
.todoFormContainer button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}
