.todoFormContainer {
    margin-bottom: 30px;
}

.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoFormContainer input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
    background-color: #f9f9f9;
    color: #4a4a4a;
    font-family: cursive;
}

.todoFormContainer button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: #a4ca81;
    color: #f9f9f9;
    font-family: cursive;
}

.todoFormContainer button:hover {
    background-color: #7fa061;
}

.todoFormContainer input,
.todoFormContainer button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}
