.App {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    margin: 40px 0;
}

.btn {
    padding: 5px;
    background-color: #f0c5c9;
    border-radius: 5px;
    border: 2px solid white;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover {
    color: #ff6f61;
    cursor: pointer;
    transform: scale(1.2);
}
